<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Care Me", "Dashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("SignOut", "LogOff", "Home", new { area = "" }, null)</li>
                    }
                    
                    <!--<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>-->
                </ul>
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated) { }

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="display:none;">
            <ul class="sidebar-nav" style="margin-left:0;">
                <li class="sidebar-brand">
                    <a href="#menu-toggle" id="menu-toggle" style="margin-top:20px;float:right;"> <i class="glyphicon glyphicon-align-justify" style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="/Admin/Dashboard"><i class="glyphicon glyphicon-dashboard" aria-hidden="true"> </i> <span style="margin-left:10px;">Dashboard</span>  </a>
                </li>
                <li>
                    <a href="/Admin/ManageResource"> <i class="glyphicon glyphicon-book" aria-hidden="true"> </i> <span style="margin-left:10px;">Manage Resource</span> </a>
                </li>
                <li>
                    <a href="/Admin/PublishSurveys"> <i class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </i> <span style="margin-left:10px;">Publish Surveys</span> </a>
                </li>
                <li>
                    <a href="/Admin/AnalyseResponses"> <i class="glyphicon glyphicon-stats" aria-hidden="true"> </i> <span style="margin-left:10px;">Analyse Responses</span> </a>
                </li>

                <br />
                <br />
                <br />
                <hr />

                <li>
                    <a href="#" id="logout"> <i class="glyphicon glyphicon-log-out" aria-hidden="true"> </i> <span style="margin-left:10px;">Logout</span> </a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper" class="container clear-top body-content">
            @RenderBody()
        </div>
    </div>
  
    <footer>

        <hr />
        <p>&copy; @DateTime.Now.Year - Group5</p>
    </footer>
    <script type="text/javascript">

        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';
        yourApp.Urls.surveyManageUrl = '@Url.Action("Manage","Survey")';
        yourApp.Urls.responseManageUrl = '@Url.Action("Index","Response")';
        yourApp.Urls.homeScreenUrl = '@Url.Action("Index","Home")';
        yourApp.Urls.userMessagesUrl = '@Url.Action("Index","User")';

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @RenderSection("scripts", required: false)
</body>
</html>
